<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2809/2809590.png"
        width="30"
        style="margin-right: 10px"
      />TMBD</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active"
            >Películas
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <input
          #txtSearch
          (keyup.enter)="searchMovie(txtSearch.value)"
          class="form-control me-sm-2"
          type="search"
          placeholder="Buscar películas"
        />
        <button
          (click)="searchMovie(txtSearch.value)"
          class="btn btn-secondary my-2 my-sm-0"
          type="submit"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</nav>
