<section class="row animated fadeIn fast my-4" *ngIf="movie">
  <div class="col-md-4">
    <img [src]="movie.poster_path | poster" class="img-thumbnail poster-img" />
  </div>

  <div class="col-md-8">
    <div class="d-flex justify-content-between mt-4">
      <h2>{{ movie.title }} ({{ movie.release_date | date: "yyyy" }})</h2>
      <button class="btn btn-outline-info" (click)="onBack()">Regresar</button>
    </div>
    <div class="mb-4">
      <span class="badge bg-danger me-2">PG-13</span>
      <span
        *ngFor="let genre of movie.genres"
        class="badge rounded-pill bg-primary mx-1"
      >
        {{ genre.name }}
      </span>
    </div>
    <div class="row text-white">
      <div class="col d-flex align-items-center gap-2">
        <h5>Duración:</h5>
        <span>{{ movie.runtime | times }}</span>
      </div>
      <div class="col d-flex align-items-center gap-2">
        <h5>Año:</h5>
        <span>{{ movie.release_date }}</span>
      </div>
    </div>

    <div class="row my-2 text-white">
      <div class="col d-flex align-items-center gap-2">
        <h5>Popularidad:</h5>
        <bar-rating [rate]="movie.vote_average" [max]="10" [readOnly]="true">
          <ng-template ratingActive>
            <i class="fa fa-star" style="color: #ddd900"></i>
          </ng-template>
          <ng-template ratingInactive>
            <i class="fa fa-star" style="color: #d2d2d2"></i>
          </ng-template>
          <ng-template ratingFraction>
            <i class="fa fa-star-half-alt" style="color: #ddd900"></i>
          </ng-template>
        </bar-rating>
        <span>
          <span>{{ movie.vote_count }} votos</span>
        </span>
      </div>
      <div class="col d-flex align-items-center gap-2">
        <h5>Rating:</h5>
        <span>{{ movie.vote_average | number: "1.1-2" }} </span>
      </div>
    </div>
    <div *ngIf="movie.tagline">
      <p class="fst-italic text-white my-4">"{{ movie.tagline }}"</p>
    </div>

    <div class="row mt-3">
      <div class="col text-white">
        <h4>Vista general</h4>
        <p>{{ movie.overview }}</p>
      </div>
    </div>
    <div class="text-white mb-4">
      <h4>Producciones</h4>
      <span
        *ngFor="let genre of movie.production_companies"
        class="badge bg-dark me-2"
      >
        {{ genre.name }}
      </span>
    </div>
  </div>
</section>

<div class="row mt-5" *ngIf="cast.length > 0">
  <div class="col">
    <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
  </div>
</div>

<div class="row mt-5" *ngIf="video.length > 0">
  <div class="col">
    <app-modal-video [video]="video"></app-modal-video>
  </div>
</div>
